/* ---------------------------------------------
 Album Row
--------------------------------------------- */

.actionRow {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: rhythm(8);
  padding: 0 rhythm(5);
  position: relative;
  cursor: pointer;
  transition: background-color 0.2s $EASEOUT_QUAD;

  &:nth-child(even) {
    background-color: $COLOR_LIGHTEST;
    &:hover {
      background-color: darken($COLOR_LIGHTEST, 7%);
    }
    &:active {
      background-color: darken($COLOR_LIGHTEST, 10%);
    }
  }

  &:nth-child(odd) {
    background-color: $COLOR_GREY_SHELF;
    &:hover {
      background-color: darken($COLOR_GREY_SHELF, 7%);
    }
    &:active {
      background-color: darken($COLOR_GREY_SHELF, 10%);
    }
  }
}

.actionRow-code {
  margin-left: auto;
  padding-left: rhythm(2);
}

@include breakpoint(breakpoint-size(md)) {
}

@include breakpoint(breakpoint-size(lg)) {
}

@include breakpoint(breakpoint-size(xl)) {
}
