/* ---------------------------------------------
 Btn
 --
 All variations of the design's button styles
--------------------------------------------- */

.btn {
  background: linear-gradient(180deg, $COLOR_BLUE_LIGHT, $COLOR_BLUE_DARK);
  border-radius: $BORDER_RADIUS;
  color: $COLOR_LIGHTEST;
  display: inline-block;
  font-family: $FONT_FAMILY_PRIMARY;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  line-height: 1.2;
  min-width: 12.8rem;
  padding: 0.8rem rhythm(3) 0.9rem;
  text-align: center;
  text-transform: uppercase;
  transition: background-color 0.25s $EASEOUT_QUAD;
  width: auto;

  &:active {
    background-color: $COLOR_GREY;
  }

  &:disabled {
    cursor: unset;
    background: linear-gradient(
      90deg,
      grayscale($COLOR_BLUE_LIGHT),
      grayscale($COLOR_BLUE_DARK)
    );
  }
}

.btn_small {
  min-width: 10rem;
  padding: 0.8rem rhythm(2) 0.9rem;
}

.btn_secondary {
  background: $COLOR_LIGHTEST;
  color: $COLOR_DEFAULT_COPY;
}

.btn_shadow {
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.btn_circle {
  height: rhythm(4);
  width: rhythm(4);
  border-radius: 100%;
  min-width: auto;
  padding: 0;
}

.btn_loading {
  // DO SOME COOL STUFF HERE
}

.btn_full {
  width: 100% !important;
}

@include breakpoint(breakpoint-size('md')) {
}

@include breakpoint(breakpoint-size('lg')) {
  .btn {
    &:hover {
      background-color: $COLOR_GREY;
    }
  }
}
