/* ---------------------------------------------
 Btn
 --
 All variations of the design's button styles
--------------------------------------------- */

.btn {
  background: linear-gradient(90deg, #0032a2, #215dde);
  border-radius: $BORDER_RADIUS;
  color: $COLOR_LIGHTEST;
  display: inline-block;
  font-family: $FONT_FAMILY_PRIMARY;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  line-height: 1.2;
  min-width: 12.8rem;
  padding: 0.8rem rhythm(3) 0.9rem;
  text-align: center;
  text-transform: uppercase;
  transition: background-color 0.25s $EASEOUT_QUAD;
  width: auto;

  &:active {
    background-color: $COLOR_GREY;
  }

  &:disabled {
    cursor: unset;
  }
}

.btn_secondary {
  background: $COLOR_LIGHTEST;
  color: $COLOR_DEFAULT_COPY;
}

.btn_loading {
  // DO SOME COOL STUFF HERE
}

.btn_full {
  width: 100% !important;
}

@include breakpoint(breakpoint-size('md')) {
}

@include breakpoint(breakpoint-size('lg')) {
  .btn {
    &:hover {
      background-color: $COLOR_GREY;
    }
  }
}
