/* ---------------------------------------------
 Img
 --
 All variations of the design's image styles
--------------------------------------------- */

.img {
  max-width: 100%;
}

.img_30 {
  width: 3rem;
}

.img_40 {
  width: 4rem;
}

.img_50 {
  width: 5rem;
}

.img_110 {
  width: 11rem;
}

.img_rounded {
  border-radius: $BORDER_RADIUS;
}

.img_nudgeDown1 {
  position: relative;
  top: 0.8rem;
}

@include breakpoint(breakpoint_size('md')) {
  .img_offsetLeft5Md {
    left: -0.5rem;
    position: relative;
  }
}
