/* ---------------------------------------------
 Container
 --
 A wrapping element contraining children to
 designated site widths in a viewport
--------------------------------------------- */

.container {
  margin: 0 auto;
  padding: 0 rhythm(2.5);
  width: 100%;
}

@include breakpoint(breakpoint_size('md')) {
  .container {
    padding: 0 rhythm(5);
  }
}

@include breakpoint(breakpoint_size('lg')) {
  .container {
    max-width: 128rem;
  }
}
