/* ---------------------------------------------
 Album Row
--------------------------------------------- */

.albumRow {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: rhythm(8);
  padding: 0 rhythm(5);
  position: relative;
  cursor: pointer;

  &:nth-child(odd) {
    background-color: $COLOR_GREY_SHELF;
  }

  &.albumRow_duplicate:after {
    content: '';
    width: rhythm(1.5);
    height: rhythm(1.5);
    border-radius: 100%;
    top: 50%;
    transform: translateY(-50%);
    left: rhythm(1.5);
    position: absolute;
    background: $COLOR_BLUE_LIGHT;
  }

  &.albumRow_primaryDuplicate {
    background: linear-gradient(180deg, $COLOR_BLUE_LIGHT, $COLOR_BLUE_DARK);
    border-radius: $BORDER_RADIUS;

    .albumRow-name {
      color: $COLOR_LIGHTEST;
    }

    .albumRow-artist {
      color: $COLOR_LIGHTEST;
    }

    .albumRow-spotifyIcon {
      .primaryFill {
        fill: $COLOR_LIGHTEST;
      }
    }

    .albumRow-menuIcon {
      .primaryFill {
        fill: $COLOR_LIGHTEST;
      }
    }
  }
}

.albumRow-artist {
  margin-left: auto;
  flex-shrink: 0;
}

.albumRow-img {
  flex-shrink: 0;
}

.albumRow-spotifyIcon:hover {
  .primaryFill {
    fill: $COLOR_SPOTIFY_GREEN;
  }
}

.albumRow-menuIcon:hover {
  .primaryFill {
    fill: $COLOR_DEFAULT_COPY;
  }
}

@include breakpoint(breakpoint-size(md)) {
}

@include breakpoint(breakpoint-size(lg)) {
}

@include breakpoint(breakpoint-size(xl)) {
}
