/* ---------------------------------------------
 Select Dropdown
--------------------------------------------- */

.selectDropdown-select {
  border: 0.1rem solid $COLOR_GREY_LIGHT;
  padding: 0.9rem rhythm(2);
  font-size: 1.6rem;
  border-radius: $BORDER_RADIUS;
  font-family: $FONT_FAMILY_PRIMARY;

  &_iconActive {
    padding-right: rhythm(5);
  }
}

@include breakpoint(breakpoint-size(md)) {
}

@include breakpoint(breakpoint-size(lg)) {
}

@include breakpoint(breakpoint-size(xl)) {
}
