/* ---------------------------------------------
 Icon
 --
 A wrapper for the design's svg icons
--------------------------------------------- */

.icon {
  display: inline-block;
  position: relative;

  // Force constrained layout to ensure predictable svg rendering
  > * {
    height: 100%;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
  }
}

.icon_nudgeDown2 {
  top: 0.2rem;
}

.icon_nudgeDown1 {
  top: 0.1rem;
}

.icon_selectDropdown {
  height: 1.4rem;
  width: 0.9rem;
}

.icon_info {
  .primaryFill {
    fill: $COLOR_GREY;
  }
  .primaryStroke {
    stroke: $COLOR_GREY;
  }

  &:hover {
    .primaryFill {
      fill: $COLOR_DARKEST;
    }
    .primaryStroke {
      stroke: $COLOR_DARKEST;
    }
  }
}

.icon_search {
  .primaryFill {
    fill: $COLOR_DEFAULT_COPY;
  }
}

.icon_spotify {
  .primaryFill {
    fill: $COLOR_GREY;
    transition: fill 0.15s $EASEINOUT_QUAD;
  }
}

.icon_ellipsis {
  .primaryFill {
    fill: $COLOR_GREY;
    transition: fill 0.15s $EASEINOUT_QUAD;
  }
}

.icon_plus {
  .primaryFill {
    fill: $COLOR_LIGHTEST;
  }
}

@mixin createIconSize($size, $resolution: '') {
  .icon_ {
    &#{$size}#{$resolution} {
      height: #{$size/10}rem;
      width: #{$size/10}rem;
    }
  }
}

@include createIconSize(10);
@include createIconSize(16);
@include createIconSize(20);

@include breakpoint(breakpoint-size('md')) {
  .icon_store {
    height: 3.2rem;
    width: 10.6rem;

    &Hero {
      height: 4rem;
      width: 13rem;
    }

    &:hover .primaryFill {
      fill: $COLOR_GREY_LIGHTEST;
    }
  }
}
