/* ---------------------------------------------
 Text Input
--------------------------------------------- */

.textInput-label {
  padding-bottom: 0.4rem;
  padding-left: 0.4rem;
  display: block;
}

.textInput-input {
  border: 0.1rem solid $COLOR_GREY_LIGHT;
  padding: 1rem rhythm(2);
  font-size: 1.6rem;
  border-radius: $BORDER_RADIUS;
  font-family: $FONT_FAMILY_PRIMARY;

  &_iconActive {
    padding-right: rhythm(5);
  }
  &::placeholder {
    color: $COLOR_GREY_LIGHT;
  }
}

.textInput-inputContainer {
  position: relative;
  display: inline;
}

.textInput-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: rhythm(2);
}

@include breakpoint(breakpoint-size(md)) {
}

@include breakpoint(breakpoint-size(lg)) {
}

@include breakpoint(breakpoint-size(xl)) {
}
