/* ---------------------------------------------
 Private Layout
--------------------------------------------- */

.view {
  margin-left: rhythm(30);
  margin-top: rhythm(7);
  min-height: 100vh;
}

@include breakpoint(breakpoint-size(md)) {
}

@include breakpoint(breakpoint-size(lg)) {
}

@include breakpoint(breakpoint-size(xl)) {
}
